.kr-table{
    width: 100%;
    display: table;
    border-collapse: collapse;
    &.bordered{
        tr{
            th,td{
                border: 1px solid #dddddd;
                padding: 6px 10px;
                font-family: $text-font;
                &:last-child{
                    text-align: center;
                }
            }
            th{
                padding: 12px;
                background-color: #fafbfe;
                letter-spacing: .3px;
                text-transform: capitalize;
                font-family: $medium-font;
                font-weight: 500;
            }
            td{
                .btn{
                    background-color: lighten($color: $white, $amount: 4);
                    border-radius: 4px;
                    padding: 6px 9px;
                    color: #fff;
                    i{
                        font-size: .8rem;
                    }
                }
                a{
                    margin-right: 0px;
                    &:last-child{
                        margin: 0px !important;
                    }
                }
            }
        }
    }

    tr, td, th{
        padding: 6px 10px;
        font-family: $text-font;
    }

}