
.text-red{
    color: $red !important;
}

.text-black{
    color: $lightblack;
}


.bg-transparent{
    background-color: transparent !important;
}

.bg-red{
    background-color: lighten($red, 1) !important;
}

.bg-orange{
    background-color: lighten($orange, 1) !important;
}

.bg-warning{
    background-color: lighten($orange, 1) !important;
}

.bg-purple{
    background-color: $purple;
    color: $white !important;
}