// Grid Based Column
.grid {
    display: grid;
    gap: 1rem;
}

@for $col from 1 to 13 {
    .col-#{$col} {
        grid-template-columns: repeat($col, 1fr);
    }
}

// 2,10
// 10,2

// 3,9
// 9,3

// 4,8
// 8,4

// 5,7
// 7,5
